﻿.dropdown {
position: relative;
display: inline-block;
text-align: left;
width: 300px;
float: right; 
list-style: none; 
margin: 19px 10px 0 0; 
overflow: hidden; }

}
 
.dropdown-text {
cursor: pointer;
position: absolute;
text-indent: 10px;
line-height: 38px;
background-color: #4f4f4b;
width: 100%;
}
 
.dropdown-text,
.dropdown-content a {
color: #fff;
text-transform:uppercase;
letter-spacing: 1px;
}

.dropdown-content {
-webkit-transition: .25s ease;
-moz-transition: .25s ease;
-ms-transition: .25s ease;
-o-transition: .25s ease;
transition: .25s ease;
list-style-type: none;
position: absolute;
top: 32px;
padding: 0;
margin: 0;
opacity: 0;
visibility:hidden;
text-indent: 10px;
line-height: 38px;
background-color: #df826b;
width: 300px;
}
 
.dropdown-content:after {
position: absolute;
right: 14px;
top: -9px;
content: '';
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 8px 9px 8px;
border-color: transparent transparent #df826b transparent;
}
 
.dropdown-content li {
border-bottom:4px solid #4f4f4b;
overflow:hidden;
}
 
.dropdown-content li:last-child {
border-bottom:none;
}
 
.dropdown-content a {
display: block;
-webkit-transition: .25s ease;
-moz-transition: .25s ease;
-ms-transition: .25s ease;
-o-transition: .25s ease;
transition: .25s ease;
}
 
.dropdown-content a:hover {
background: #4f4f4b;
padding-left:5px;
}

.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
background-color: #4f4f4b;
}
 
.dropdown-toggle:focus ~ .dropdown-text {
border-color: #c5c5c5;
z-index: 2;
}
 
.dropdown-toggle:focus ~ .dropdown-text:after {
border-width: 0 4px 5px 4px;
border-color: transparent transparent #555 transparent;
}
 
.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
opacity: 1;
visibility:visible;
top: 55px;
}

