/*Ribbons*/
#carousel-slide-thumbnail {
    margin-top: 55px;
}

#recohotels {
    width:180%;
}
#topreco {
    width:140%;
}

#whyter {
    width:130%;
}
.ribbon
{
        position: relative;
        width: 80%;
        font-size:15px;
        font-weight: bold;
        padding: 12px 20px 13px 50px;
        /*margin-left:83px;*/
        color: #fff;
        background-color: #ff6a00;
        text-shadow: 0px 1px 2px #bbb;
        -webkit-box-shadow: 0px 2px 4px #888;
        -moz-box-shadow: 0px 2px 4px #888;
        box-shadow: 0px 2px 4px #888;
        
}



.ribbon:before, .ribbon:after
{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
}
 
.ribbon:before
{
        width: 40%;
        left: -30%;
        top: 15px;
        border-width:1.267em 0.867em;
        border-style: solid;
        border-color: #999 #999 #999 transparent;
}
 
.ribbon.flag:before
{
        width: 0px;
        left: auto;
        right: -3px;
        top: 0px;
        border-color: transparent #fff transparent transparent;
}
.ribbon.flag2:before
{
        width: 0px;
        left: auto;
        right: -4px;
        top: 0px;
        border-color: transparent #E3E3E3 transparent transparent;
}
 
.ribbon:after
{
        left: 0px;
        top: 100%;
        border-width: 5px 10px;
        border-style: solid;
        border-color:#a34b11 #a34b11 transparent transparent;
}
 

 
.wrapper1 {
    margin-top:25px;
}
 
.mybtn {
 	padding-top:20px;
 	float:right;
     padding-bottom:10px;
    margin-left:10px;
    margin-right:18px;  

}

.brown-button {
    background-color: #a06d26;
}
 
.white, .white a {
  color: #fff;
}

@media (max-device-width:330px) and (min-device-width:240px){

h2 {
font-size:14px;
width:164%;
}

h2:before {
border-width:22px 16px;
}

}



@media only screen and (min-device-width : 260px) {
    h2{
    width:164%;
    }
h2:before {
    border-width:30px  24px;
}

}


@media (max-device-width:443px) and (min-device-width:330px) {
    h2:before { 
        border-width: 22px 19px;
    }

    h2 { 
        font-size:15px;     
        width: 160%;

    }

}

@media (max-device-width:650px) and (min-device-width:443px) {
    h2:before { 
        border-width: 22px 15px;
    }

    h2 { 
        font-size:15px;     
        width: 96%;

    }

}

@media (max-device-width:1270px) and (min-device-width:650px) {
    h2:before { 
        border-width: 21px 17px;
    }

    h2 { 
        font-size:15px;     
        width: 160%;

    }

}

@media (min-device-width:1270px) {
    h2 { 
        width:100%;
    }
    h2:before { 
        border-width: 21px 20px;
    }
}
