.top-recommendations-bg{
     background:url(http://localhost:50775/images/brhbg.png); 
}﻿


.btn btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;

}

.btn btn-default btn-lg {
    padding-top:20PX;
}

#top-recommendation-carousel {
    bottom:-20px;
}

#topcarousel{
    padding-bottom:25px; padding-left:10px;}

.thumbelina {
    height: 230px; width: 100%; display: block;
}


/*.thumbpadder { 
     margin-left: 0px; margin-right: 0px;
}*/

@media (min-width:1270px) {
    .thumbpadder { margin-left: 30px; margin-right: 30px; }
}






.thumbheader {
    color: #428bca;
    float:left;
    padding: 10px 10px 0px 20px;
    font:15px; 
   
}

.thumb{
     display: block;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(103, 108, 106, 0.71);
-moz-box-shadow:    2px 2px 9px 0px rgba(103, 108, 106, 0.71);
box-shadow:         2px 2px 9px 0px rgba(103, 108, 106, 0.71);

}

.my-col-lg-3{width:28%}

.stars{
    color: #f78733;
    text-shadow: 1px 1px 1px #ccc;
   
}



.price {
    float:right;
    font-size:18px;
    padding:8px 20px 0px 0px;
}


.night{
    font-size:12px;
    color:#bbb;
    float:right;
    padding:0px 20px 0px 0px;  
    
}

@media (max-device-width:359px) {
    .price {
    float:right;
    font-size:15px;
    padding:8px 20px 0px 30px;
}
    .night{
    font-size:8px;
    color:#bbb;
    float:right;
    padding:0px 20px 0px 25px;  
    
}
}

@media (max-device-width:390px) and (min-device-width:270px) {
    .night {
        float:left;
        padding-left:15px;     
    }
    .price {
        float:left;  
        padding-left:13px;   
    }
}

.star_row {
    padding-left:20px;
    padding-top: 0px;
}

.fmore{
    float:right;
    padding-top:-10px;
    font-size:10px;
}

.description{
    font-size:12px;
    color:#bbb;
    padding-left:20px;
    padding-top: 3px;  
}


.whyterhal {  
    padding-left:15px;
}

/*@media (min-device-width:240px) and (max-device-width:768px) {
   .whyterhalborder {  
   border-bottom: 1px solid;
    border-color:#ccc;  
   }
}*/
.whyterhalborder {
    border-left: 1px solid;
    padding-bottom: 5px;
    border-color:#ccc;
}


.padder {
     padding-right: 18px;
  padding-left: 18px;
}


