﻿
#top-recommendations { 
    font-family:'Open Sans';
    
}
.hind-300 {
            font-family: 'Hind', sans-serif;
            font-weight: 300;
        }

        .hind-400 {
             font-family: 'Hind', sans-serif;
             font-weight: 400;
        }


        .hind-500 {
            font-family: 'Hind', sans-serif;
            font-weight: 500;
        }

        .hind-700 {
            font-family: 'Hind', sans-serif;
            font-weight: 700;
        }

        .open-sans-400 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
        }
        
        .open-sans-400-italic {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-style: italic;
        }

        .noto-serif-400 {
            font-family: 'Noto Serif', serif;
            font-weight: 400;
        }