body {
}

.panel-footer-style {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: none;
    padding: 0px 0px;
    background-color: #4A311B;
}

.panel-footer-style .footerbg .ul-without-bullet {
    list-style-type: none;
    color: white;
    padding: 0px;
    margin: 0px,0px,0px,0px;
}

.panel-footer-style .footerbg .ul-without-bullet .contact-info {
    width: 95%;
    margin-top: 3%;
    color: gray;
    background-color:white;
}

.panel-footer-style .link-color {
    color: white;
}

.panel-footer-style .footer-img {

    width: 100px;
    height: 100px;
    display: block;
}

.panel-footer-style .font-color1 {
    color: white;
}

.panel-footer-style .signup {
    background: no-repeat scroll 0,0,#2E2E2E;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0,3px,3px,#222222;
 
    padding: 10px;
    position: absolute;
    z-index: 0;
    margin-top: -40px;
    margin-left:16%;
  
 
}
.panel-footer-style .signup .container1-margin .container1-text-color {
    color:white;
}
.panel-footer-style .signup .container1-margin .container1-text-width {
    width: 65%;
}
.panel-footer-style .signup .container1-margin .container1-subscriber-btn {
    width: 25%;
    background-color: #4B99B5;
    border: 0px;
    color: white;
}
.panel-footer-style .footerbg .container2-row-bgcolor {
    background-color: #4A311B;
}
.panel-footer-style  .submitbtn {
    /*margin-top:3%;
    background-color:#4B99B5;*/

    margin-top: 3%; 
    background-color: #4B99B5; 
    border: 0px; 
    color: white
}

.panel-footer-style .view-all {
    padding-right:26%;
    float: right;
}
.panel-footer-style .footerbg .ul-without-bullet .date {
    float: right; 
    font-size: small;
}
.panel-footer-style .footerbg .ul-without-bullet .hr-width {
    width: 95%;
}
.panel-footer-style .footerbg {
    background: no-repeat scroll 0,0,#4A3118;
  
    padding: 46px 0;
  
}
@media (min-width:980) {
.panel-footer-style .footerbg {
    background: no-repeat scroll 0,0,#4A3118;
  
    padding: 46px 0;
  margin-left:10%;
}

}
 .panel-footer-style .footerbg .ul-without-bullet .subscribe-button {
        font-size: small;
        padding-top:4px;
        padding-bottom:4px;
        margin-top: 3%; 
        background-color: #4B99B5; 
        border: 0px; 
    }

@media (min-width: 240px) and (max-width:480px) {
   .panel-footer-style .container1-margin{
        margin-left: 0px;  
        padding-left:4px;  
    }
}


@media (min-width: 768px) {
     .panel-footer-style .container1-margin {
        margin-left: 10px;
        margin-right:0px;
        padding-right:0px;
        padding-left:109px;
    }
  }
@media (min-width: 799px){
      .panel-footer-style .container1-margin {
        margin-left: 20px;
        padding-left :130px;
        padding-right:20px;
           
    }    
}

@media (min-width: 980px){
    .panel-footer-style .container1-margin {
        margin-left: 100px;
        padding-left :130px;
        padding-right:12px;
    }
    
}
@media (min-width: 1024px){
    .panel-footer-style .container1-margin {
        margin-left:80px;
        margin-right: 0px;    
        padding-left :100px;
        padding-right:2px;
    }   
}
@media (min-width: 1920px){
    .panel-footer-style .container1-margin{
        margin-left:400px;
        margin-right: 100px;    
        padding-left :150px;
        padding-right:2px;
    }   
}


.panel-footer-style .footerbg .ul-without-bullet .size-img {
   /*margin-top:1%;
    width:8%;
    margin-left:2%;
    border: 0px;*/
     border: 0 none;
    margin-left: 3px;
    margin-top: 5px;
    width: 26px;
}
.panel-footer-style .footerbg .ul-without-bullet .size-img1 {
   /*margin-top:1%;
    width:11%;
    margin-left:2%;
    border: 0px;*/
    border: 0 none;
    margin-left: 3px;
    margin-top: 5px;
    width: 26px;
    
}
.panel-footer-bottom .footer-bottom {
    background-color: #342213; 
    text-align: center; 
    color: white; 
   padding-top: 8px; 
    padding-bottom: 8px;
}
@media (max-device-width:980px) and (min-device-width:800px)
 {
 
 .panel-footer-style .textboxsize {

 }
 }
   
@media  (max-device-width:768px) {
    .panel-footer-style .pad-col {
        padding-left:5%
    }
}

@media (max-width: 360px) {

    .panel-footer-style .subscribe-button {
        font-size: small;
        

    }
}

