﻿#top-destination .caption[class*="overlay"] {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
        /* IE8 */    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    /* IE6 & 7 */      zoom: 1;
}

#top-destinatios .carousel-indicators {
    bottom: -50px;
}