﻿

.hind-300 {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

.hind-400 {
        font-family: 'Hind', sans-serif;
        font-weight: 400;
}

.hind-500 {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}

.hind-700 {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}

.open-sans-400 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.open-sans-400-italic {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.noto-serif-400 {
    font-family: 'Noto Serif', serif;
    font-weight: 400;
}


/********************************************************************/

.clear-height {
    margin-top: 40px;
}

.carousel-inner {
    padding-bottom: 10px;
}

#top-destination .carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: rgb(255, 106, 0);
}

/********************************************************************/
#top-destination {
    padding-bottom: 50px;
}

#top-destination .wrapper {
    padding: 8px;
    border: 2px rgb(128, 128, 128);
    box-shadow: 2px 2px 2px;
}

#top-destination .relative-thumbnail {
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}

/********************************************************************/

#top-destination .caption[class*="overlay"] {
    position: absolute;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.60);
}

#top-destination .bottom-overlay {
    top: 75%;
    height: 25%;
    width: 100%;
}

#top-destination .left-overlay {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 35%;
}

#top-destination .right-overlay {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 35%;
}

#top-destination .top-overlay {
    top: 0px;
    left: 0px;
    height: 30%;
    width: 100%;
}

/********************************************************************/

#top-destination #carousel .caption p {
    margin-bottom: 0px;
}

#top-destination #carousel .caption br {
    display: none;
}

/********************************************************************/

#top-destination .hotel-name {
    position: absolute;
}

#top-destination .bottom-overlay .hotel-name {
    height: 100%;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 8px;
}

#top-destination .right-overlay .hotel-name,
#top-destination .top-overlay .hotel-name,
#top-destination .left-overlay .hotel-name {
    height: 50%;
    width: 100%;
    padding-right: 10px;
}

#top-destination .hotel-name-heading {
    color: white;
    font-size: 1.5em;
}

#top-destination .hotel-name-subscript {
    color: white;
    font-size: 1em;
}

/********************************************************************/

#top-destination .hotel-rate {
    color: #808080;
    position: absolute;
    text-align: center;
}

#top-destination .bottom-overlay .hotel-rate {
    left: 65%;
    height: 100%;
    width: 35%;
    padding-top: 4%;
    padding-bottom: 8px;
}

#top-destination .left-overlay .hotel-rate,
#top-destination .right-overlay .hotel-rate {
    top: 65%;
    height: 35%;
    width: 100%;
    padding-right: 8px;
}

#top-destination .top-overlay .hotel-rate {
    top: 60%;
    height: 40%;
    width: 100%;
    padding-right: 8px;
}

#top-destination .hotel-rate .rate > span {
    font-size: 1.2em;
    color: rgb(196, 87, 9);
}

#top-destination .hotel-rate .rate > span + span {
    color: #808080;
}

/****************************************************/

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 13px;
    }

    #top-destination .thumbnail > img.fixed-height {
        height: 384px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        line-height: 15px;
        font-size: 11px;
    }

    #top-destination .thumbnail > img.fixed-height {
        height: 286px;
    }

    #top-destination .top-overlay {
        height: 40%;
    }
}

@media (min-width: 380px) and (max-width: 480px) {
    body {
        line-height: 16px;
        font-size: 12px;
    }
}

@media (min-width: 300px) and (max-width: 379px) {
    body {
        line-height: 14px;
        font-size: 10px;
    }
}

@media (max-width: 299px) {
    body {
        line-height: 12px;
        font-size: 8px;
    }
}
